/* contacts */


#contact {
    padding: 8vw;
    padding-top: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#contact .getin {
    width: 320px;
    margin-right: 80px;
}

#contact .getin h2 {
    color: #2c234d;
    font-size: 30px;
    font-weight: 800;
    line-height: 0.8;
    margin-bottom: 8px;
}

#contact .getin p {
    color: #686875;
    line-height: 24px;
    margin-bottom: 33px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e5e4ed;
}

#contact .getin h3 {
    color: #2c234d;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 15px;
}

#contact .getin .getin-details div {
    display: flex;
}

#contact .getin .getin-details div ion-icon {
    font-size: 16px;
    line-height: 22px;
    color: #7e7c87;
    margin-right: 20px;
}

#contact .getin .getin-details div p {
    font-size: 14px;
    border-bottom: none;
    line-height: 22px;
    margin-bottom: 15px;
}

#contact .getin .getin-details .pro-links i {
    margin-right: 8px;
}

#contact .form {
    width: 60%;
    background-color: #e7d2cc;
    padding: 40px;
    border-radius: 10px;
}

#contact .form ::placeholder {
    font-family: 'Taviraj', serif;
}

#contact .form h4 {
    font-size: 24px;
    color: #000000;
    line-height: 30px;
    margin-bottom: 8px;
}

#contact .form p {
    color: #686875;
    line-height: 24px;
    padding-bottom: 25px;
}

#contact .form .form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#contact .form .form-row input {
    width: 41%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background-color: #ffffff;
    color: #000000;
    outline: none;
    padding: 20px 20px;
    margin-bottom: 20px;
}

#contact .form .form-col input,
#contact .form .form-col textarea {
    width: 94%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background-color: #ffffff;
    color: #000000;
    outline: none;
    padding: 20px 20px;
    margin-bottom: 20px;
}

#contact .form button {
    font-size: 0.9rem;
    padding: 13px 25px;
    background-color: #f89191a0;
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: #252526;
}

#contact .form button:hover {
    background-color: #f89191;
    color: #000000;
    transition: 0.3s;
}

#map {
    width: 100%;
    height: 70vh;
    margin-bottom: 8vw;
}

#map iframe {
    width: 100%;
    height: 100%;
}

.contact {
    padding-top: 4rem;
}