* {
  padding: 0;
  margin: 0;
  font-family: 'Taviraj', serif;
  /* font-family: 'Allura', cursive; */
  /* font-family: 'Libre Baskerville', serif; */
  /* font-family: 'Rokkitt', serif; */
  /* font-family: 'Ysabeau Infant', sans-serif;*/
}

:not(:defined)>* {
  display: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.navdiv {
  width: 100%;
  height: 4rem;
  background-color: #EEEDE7;
  border: 1px solid #EEEDE7;
  box-shadow: 0px 0.5px 3px rgb(136, 136, 136);
  margin: 0rem 0.1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: fixed;
  z-index: 2;
}

.navbarL {
  display: flex;
  flex-direction: row;
}

.navbarL img {
  height: 3.5rem;
  padding: 0.25rem;
}

.brandName {
  margin: auto 0;
  margin-left: 0.5rem;
  font-size: 2.25rem;
  font-family: 'Allura', cursive;

}

.navList {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  text-align: center;
  margin: 0.5rem 0;
}

.navList li {
  margin-left: 1.5rem;
}

.navList li a,
    .dropdown a {
  font-size: 1rem;
  text-decoration: none;
  color: black;
}

.navList button {
  margin: auto 01rem;
  padding: 0.25rem 1.5rem;
  border: 1px solid #B9B7BD;
  border-radius: 20px;
  background-color: #EEEDE7;
}

.navpad {
  padding-top: 1.5rem;
}

.back {
  padding-left: 1rem;
  font-size: 1.2rem;
  width: 6rem;
  cursor: pointer;
}

.back:hover {
  transition: ease-in-out .2s;
  background-color: #b9b7bd4d;
  border-radius: 0.5rem;
}

.back i {
  padding-right: 0.5rem;
}

model-viewer {
  width: 100%;
  height: 80%;
}

/* editing end */


.progress-bar {
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

#ar-button {
  background-image: url(ar_icon.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color: #4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #DADCE0;
}

#ar-button:active {
  background-color: #E8EAED;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from {
    transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
  }

  to {
    transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
  }
}

@keyframes elongate {
  from {
    transform: translateX(100px);
  }

  to {
    transform: translateX(-100px);
  }
}

model-viewer>#ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status="session-started"]>#ar-prompt {
  display: block;
}

model-viewer>#ar-prompt>img {
  animation: circle 4s linear infinite;
}

.objcolor {
  text-align: center;
}

.optColor {
  color: #ffffff;
  text-decoration: none;
}

/* Default model */

.default {
  background-color: #AD6A49;
}

.default:hover {
  background: #ffffff;
  box-shadow: 0 0 2rem #AD6A49;
  border: #AD6A49 3px solid;
  color: #AD6A49;
}


/* black model */

.black {
  background-color: black;
}

.black:hover {
  color: rgb(0, 0, 0);
  background: #ffffff;
  box-shadow: 0 0 2rem #000000;
  border: #000000 3px solid;
}

/* violet model */

.violet {
  background-color: #6F69D4;
}

.violet:hover {
  color: #6F69D4;
  background: #ffffff;
  box-shadow: 0 0 2rem #6F69D4;
  border: #6F69D4 3px solid;
}

/* Green Model */

.green {
  background-color: #406923;
}

.green:hover {
  color: #406923;
}

.green:hover {
  background: #ffffff;
  box-shadow: 0 0 2rem #406923;
  border: #406923 3px solid;
}