@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Allura&family=Libre+Baskerville&family=Rokkitt:wght@300;400&family=Taviraj&family=Ysabeau+Infant&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Taviraj", serif;
    /* font-family: 'Allura', cursive; */
    /* font-family: 'Libre Baskerville', serif; */
    /* font-family: 'Rokkitt', serif; */
    /* font-family: 'Ysabeau Infant', sans-serif;*/
    /* font-family: 'Pacifico', cursive; */
}

body {

    background: url('../images/bgImg.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

a {
    text-decoration: none !important;
    color: black !important;
}

ul.navList {
    padding-left: 0rem;
}

/* navigation */

.navdiv {
    width: 100%;
    height: 4rem;
    background-color: #eeede7;
    border: 1px solid #eeede7;
    box-shadow: 0px 0.5px 3px rgb(136, 136, 136);
    margin: 0rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: fixed;
    z-index: 20;
}

.navbarR {
    display: flex;
    flex-direction: row;
}

.navbarL a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
}

.navbarL img {
    height: 3.5rem;
    padding: 0.25rem;
}

.brandName {
    margin: auto 0;
    margin-left: 0.5rem;
    font-size: 2.25rem;
    font-family: 'Allura', cursive;
}

.navList {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    text-align: center;
    margin: 0.5rem 0;
}

.navList li {
    margin-left: 1.5rem;
}

.navList li a,
.dropdown a {
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

.navList button {
    margin: auto 1rem;
    padding: 0.25rem 1.5rem;
    border: 1px solid #b9b7bd;
    border-radius: 20px;
    background-color: #eeede7;
}

.navList button a {
    color: black;
    text-decoration: none;
}

.navList button a:hover {
    color: #29ae84cb;
}

div .navList li.active a {
    padding: 0.15rem 0rem;
    color: #069f6e;
    border-bottom: 3px solid #069f6e;
}

button.active a {
    color: #069f6e !important;
}

div .navList li a {
    transition: color 100ms linear, border-bottom 100ms linear;
}

div .navList li a:hover {
    width: 100%;
    color: #29ae84cb;
    border-bottom: 3px solid #29ae84cb;
}

label #cancel,
label #btn,
#check {
    display: none;
}

label #btn,
label #cancel {
    color: #000000;
    font-size: 1.5rem;
    float: right;
    align-items: center;
    margin-right: 1rem;
    cursor: pointer;
    padding-right: 0.75rem;
}

/* Dropdown Button */
.dropbtn {
    background-color: #069f6e;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown button {
    border: none;
    background-color: none;
    padding: 0.25rem 0.75rem;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-contentA {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 10rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: -4rem;
    border-radius: 0.5rem;
}

/* Links inside the dropdown */
.dropdown-contentA a {
    color: black;
    padding: 12px 16px;
    text-align: left;
    text-decoration: none;
    display: block;
}

.dropdown-contentA a:hover {
    color: #027a54;
    background-color: #069f6f45;
}

.show {
    display: block;
}

@media(max-width:880px) {
    .navList button {
        margin: auto 0.5rem;
        padding: 0.25rem 1rem;
    }

    .navList li {
        margin-left: 1rem;
    }

    .navbarL h1 {
        font-size: 2rem;
    }

    .dropdown button {
        padding: 0.25rem 0.75rem;
    }

    .dropdown-contentA {
        left: -5rem;
    }
}

@media(max-width:784px) {
    .navbarL h1 {
        font-size: 1.7rem;
    }

    .navList li a,
    .dropdown a {
        font-size: 0.9rem;
    }

    .navList button {
        font-size: 0.9rem;
    }

    .navList li {
        margin-left: 1rem;
    }

    .dropdown button {
        padding: 0.25rem 0.75rem;
    }
}

@media(max-width:768px) {
    .navbarL h1 {
        font-size: 1.7rem;
    }

    .navList li a,
    .dropdown a {
        font-size: 0.9rem;
    }

    .navList button {
        font-size: 0.9rem;
    }

    .navList li {
        margin-left: 1rem;
    }

    .dropdown button {
        padding: 0.25rem 0.75rem;
    }
}

@media (max-width:720px) {

    label #btn {
        display: block;
    }

    #check:checked {
        transition: all .1s ease-in;
    }

    nav ul.navList {
        position: fixed;
        width: 60%;
        height: 100vh;
        top: 0rem;
        left: -100%;
        transition: all .5s;
        margin-top: 0;
        background-color: #9391918b;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }

    nav ul.navList {
        display: block;
        padding-top: 2rem;
    }

    nav ul.navList li {
        margin: 0;
        padding: 1rem 0.5rem;
    }

    nav ul.navList li a,
    .dropdown a {
        font-size: 1.1rem;
        color: white;
    }

    .dropdown a {
        color: black;
    }

    nav ul.navList li.active a {
        color: #06d795;
    }

    nav ul.navList button {
        font-size: 1.1rem;
        margin: 1rem 0.5rem;
    }

    #check:checked~ul {
        left: 0;
    }

    #check:checked~label #btn {
        display: none;
    }

    #check:checked~label #cancel {
        display: block;
    }

    .dropdown button {
        padding: 0.25rem 0.75rem;
        background-color: transparent;
        color: white;
    }

    .dropdown button:hover {
        background-color: #069f6e;
    }

    .dropdown-contentA {
        left: 0;
        height: 9rem;
        overflow-y: auto;
    }
}

/* Main content */

main {
    padding-top: 4rem;
}

.cover {
    background: linear-gradient(to right, #000000d5, rgba(255, 255, 255, 0)), url("../images/indexCover.jpg") no-repeat;
    height: 100vh;
    background-size: cover;
    margin-top: -2rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    background-position: center;
    color: white;
    padding-left: 4rem;
}

.coverHead {
    font-size: 6rem;
    margin: 0;
}

.title p {
    padding-top: 2rem;
    font-family: 'Allura', cursive;
    /* font-family: 'Libre Baskerville', serif; */
    /* font-family: 'Rokkitt', serif; */
    /* font-family: 'Ysabeau Infant', sans-serif;*/
    /* font-family: 'Pacifico', cursive; */
}

.tagline {
    color: #ffffff84;
}

main img {
    height: auto;
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.bottom-left {
    color: white;
    position: absolute;
    bottom: 0.2rem;
    left: 16px;
    font-size: 8rem;
    opacity: 0.8;
    z-index: 3;
}

.cat_img {
    position: relative;
    margin: 1.5rem 0;
}

.slideshow {
    position: relative;
}

.slideshow::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 1rem;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8));
    z-index: 1;
}

img.cat-item {
    width: 100%;
    height: auto;
}

.secHead {
    margin: 1rem 2rem 0 2rem;
    padding: 0 !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center !important;

}

.secHead p {
    padding-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: 900;
}

@media(max-width:768px) {
    .cover {
        padding-left: 2rem;
    }

    .coverHead {
        font-size: 5rem;
    }
}

@media (max-width:640px) {
    .secHead {
        margin: 1rem 1.5rem 0 1rem;
    }
}

@media (max-width:600px) {
    .coverHead {
        font-size: 4.5rem;
    }

    .bottom-left {
        font-size: 20vh;
    }
}

@media (max-width:500px) {
    .brand_desc {
        font-size: 0.9rem;
    }

    .coverHead {
        font-size: 3.5rem;
    }

    .bottom-left {
        font-size: 5rem;
    }
}

@media (max-width:430px) {
    .head {
        width: 100% !important;
    }

    .secHead {
        margin: 1rem 1.5rem 0 1rem;
        padding-top: 1rem !important;
    }

    .secHead p {
        padding-top: 1rem;
    }

    nav ul.navList li a,
    .dropdown a,
    nav ul.navList button {
        font-size: 0.95rem;
    }

    .coverHead {
        font-size: 3rem;
    }

    .cover {
        padding-left: 1rem;
    }
}

@media (max-width:380px) {
    .coverHead {
        font-size: 2.75rem;
    }

    .cover {
        padding-left: 0.5rem;
    }

    .tagline {
        font-size: 0.75rem;
    }

    .title {
        font-size: 2.5rem !important;
    }


    .secHead p {
        /* padding-top: 1.5rem; */
        font-size: 1.2rem;
        font-weight: 900;
    }
}

@media (max-width:380px) {

    .bottom-left {
        font-size: 3.5rem;
    }
}

.itemCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 0rem;
}

.parentCard {
    display: flex;
    flex-direction: column;
}

.cards {
    display: flex;
    flex-direction: column;
    border-radius: 10px !important;
    background-color: white;
    margin: 0.5rem auto 1rem;
    padding: 0.5rem;
    transition: 0.2s ease-in-out;
    width: 21rem;
}

.cards:hover {
    transform: scale(1.05);
}

.carddetail p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 12rem;
}

.carddetail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.5rem;
}

.card-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 0.5rem;
}


.brandintro {
    width: 90%;
    margin: 2rem auto;
    border: #b9b7bd 2px solid;
    align-items: center;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    text-align: center;
}


.head {
    margin: 1rem auto 0.25rem;
    width: 60%;
}

.btn-close {
    z-index: 0 !important;
}

.subhead {
    margin: 0 auto;
    font-family: 'Pacifico', cursive;
    font-size: 0.9rem;
    font-weight: 200;
    width: 60%;
    font-size: small;
    color: #646364;
    border-bottom: #b9b7bd 2px solid;
}

.brand_desc {
    text-align: justify;
    width: 90%;
    margin: 1rem auto;
}

.title {
    font-family: 'Allura', cursive;
    margin: 0 auto;
    text-align: center;
    font-size: 3rem;
}

.categoryTab {
    background-color: #e7d2cc9e;
    padding: 0.5rem 0.5rem;
}

.categoryTab button {
    margin: 0 0.5rem;
    border: none;
    text-align: center;
}

.tablinks {
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem;
    background-color: transparent;
}

.tablinks.activeTab {
    background-color: #069f6e;
    color: white;
}

.tablinks:hover {
    background-color: #069f6f5f;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#bedTab,
#tableTab,
#comboTab {
    display: none;
}

.base {
    background-color: #e6e6e671;
    backdrop-filter: blur(2px);
    margin: 2rem 3rem;
    border-radius: 1rem;
}

.sectionRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0.5rem 0.25rem;
}

.secCardDetail {
    border-radius: 10px !important;
    background-color: #ffffff;
    margin: 0.5rem auto 1rem;
    padding: 0.5rem;
    transition: 0.2s ease-in-out;
    width: 21rem;

}

.secCardDetail button {
    width: 5rem;
    padding: 0.25rem 0.25rem;
}

.secCardDetail button p {
    margin: 0 auto;
}

.secCardDetail img {
    height: 11rem;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: #6c757d7b 0px 1px 4px;
}

.buy_fav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    word-wrap: wrap;
    margin-bottom: 0.5rem;
}

button.buy_now {
    background-color: #79A99A !important;
    color: #000000;
    border: #aea77e solid 0.5px;
    border-radius: 2rem;
    width: 9rem;
    height: 2rem;
}

.buy_now.btn-disable {
    opacity: 0.75;
    cursor: help;
}

#otpdiv,
#verifydiv {
    display: none;
}

/* .modal-content{
    padding: 1.5rem;
} */

/* .emailAuth{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #e3f2fd;
}

.overlay{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
}

.emailBox{
    max-width: 38px;
    width: 100%;
    border-radius: 24px;
} */

@media(max-width:768px) {
    .base {
        margin: 1rem 1rem;
    }

    .buy_fav {
        display: flex;
        height: 5rem;
        flex-direction: column;
        margin-bottom: 0.5rem;
    }

    .itemCard {
        padding: 1rem;
    }

    .cards:hover {
        transform: none;
    }

    .secCardDetail {
        width: 18rem;
    }

    .cards {
        width: 18rem;
    }

    button.buy_now {
        text-align: center;
        line-height: 1;
        padding: 0.5rem;
        width: 100%;
        transition: all 0.25s ease-in-out;
    }

    button.buy_now:hover {
        background-color: #4cffc6 !important;
        color: rgb(0, 0, 0);
    }

    .carddetail p{
        font-size: 0.95rem;
        width: 10rem;
    }
    .card-detail {
        font-size: 0.95rem;
    }

    .sectionRow {
        padding: 0.5rem 1rem;
        ;
    }

    .secCardDetail img {
        height: auto;
    }
}

@media (max-width:640px) {

    .cards,
    .secCardDetail {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .carddetail,
    .card-detail {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 100%;
    }

    .carddetail p,
    .card-detail p {
        white-space: nowrap;
        overflow: hidden;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        white-space: nowrap;
        width: 8rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    main .cards img,
    .secCardDetail img {
        width: 60%;
        height: auto;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0rem;
        border-bottom-left-radius: 0.5rem;
    }

    .parentCard {
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0.25rem 0;
        flex-direction: column;
        justify-content: space-between;
    }

    .buy_fav {
        margin-top: 1rem;
        padding-top: 1rem;
    }

    button.buy_now {
        margin-top: 0.5rem;
        font-size: 0.9rem;
        width: 100%;
    }

}

@media (max-width:500px) {
    .alert-dismissible {
        font-size: 0.9rem !important;
    }

    main .cards img,
    .secCardDetail img {
        width: 60%;
        height: auto;
    }
}

@media (max-width:430px) {

    .cards,
    .secCardDetail {
        display: flex;
        flex-direction: column;
    }

    main .cards img,
    .secCardDetail img {
        height: auto;
        width: 100%;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        border-bottom-left-radius: 0rem;
    }

    .carddetail,
    .card-detail {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 0.5rem;
    }

    .parentCard {
        padding: 0;
        margin-left: 0;
    }

    button.buy_now {
        background-color: #79A99A !important;
        color: #000000;
        border: #aea77e solid 0.5px;
        border-radius: 2rem;
        width: 9rem;
        height: 2rem;
        text-decoration: none;
    }

    .buy_fav {
        display: flex;
        flex-direction: row;
        margin-top: 0;
        height: auto;
    }

    .secCardDetail button.btn {
        padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    }

    .carddetail p,
    .card-detail p {
        width: 55%;
    }
}

@media (max-width:330px) {
    .buy_fav {
        display: flex;
        flex-direction: column;
        /* height: 5rem; */
        margin-bottom: 0.5rem;
    }

    button.buy_now {
        width: 100%;

    }

    .subhead {
        width: 80%;
    }
}

/* inner cattegory */

.catInnerBody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#breadcrumb {
    margin-left: 1rem;
}

.catCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffffd4;
    width: 95%;
    max-width: 33.77rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
}

.imgBtn {
    display: flex;
    flex-direction: row;
}

.pricing {
    position: relative;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    min-width: 70px;
    background-color: rgb(255, 0, 140);
    color: white;
    text-align: center;
    place-content: center;
    left: -3.7rem;
    top: 7.3rem;
}


.imgBtn img {
    width: 20rem;
    max-height: 11rem;
}

.catCardinner {
    margin: 0rem 0rem 0rem -3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btnGrp {
    display: grid;
    gap: 0.25rem;
    grid-template-columns: 3fr 1fr;
    margin-bottom: 1rem;
}

.btnGrp button {
    border: 2px solid #06d795;
    background-color: rgba(255, 255, 255, 0.831);
    border-radius: 3rem;
    padding: 0.05rem 0;
    align-self: center;
    transition: all 0.2s;
}

.btnGrp button:hover {
    background-color: #06d795;
    color: #ffffff;
}

.customise {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.addCart {
    width: 2.5rem;
}

.addCart i {
    padding: 0 0.5rem;
}

.buy {
    padding: 0 0.5rem;
}

.catCard p {
    margin-bottom: 0.5rem;
}

p.furDesc {
    margin-top: 1.5rem;
    text-align: justify;
}

p.catName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 10rem;
}

/* cart category */

/* .contentBody{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.cartContainer{
    display: flex;
    width: 70%;
    margin-bottom: 2rem;
}

#root{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, fr);
    grid-gap: 1.5rem;
}

.sidebar{
    width: 40%;
    border-radius: 5px;
    background-color: #eee;
    margin-left: 1.5rem;
    padding: 1rem;
    text-align: center;
} */




/* .footer-develop {
    text-align: center;
    font-size: 1rem;
    background-color: aqua;
} */



/* AR VIEW */

.btn-outline-secondary a {
    color: #6C757D;
    text-decoration: none;
}

.btn-outline-secondary a:hover {
    color: white;
}

.objcolor {
    text-align: center;
    background-color: #e4e4e482;
}

.objcolor p {
    font-size: 1.2rem;
    font-weight: 600;
}

.optionCol {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}

.optColor {
    margin-top: 1rem;
    width: 15rem;
    height: 2.2rem;
    border: none;
    border-radius: 24px;
}

.optColor a {
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
}

@media(max-width:640px) {

    .btn,
    .card-detail a>button {
        width: 100%;
    }
}

@media(max-width:430px) {

    .btn,
    .card-detail a>button {
        width: 50%;
    }
}

@media(max-width:430px) {

    .btn,
    .card-detail a>button {
        width: 100%;
    }
}