@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Taviraj", serif;
    /* font-family: 'Allura', cursive; */
    /* font-family: 'Libre Baskerville', serif; */
    /* font-family: 'Rokkitt', serif; */
    /* font-family: 'Ysabeau Infant', sans-serif;*/
    /* font-family: 'Pacifico', cursive; */
}


/* navigation */

.navdiv {
    width: 100%;
    height: 4rem;
    background-color: #eeede7;
    border: 1px solid #eeede7;
    box-shadow: 0px 0.5px 3px rgb(136, 136, 136);
    margin: 0rem 0.1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: fixed;
    z-index: 2;
}

.navbarL {
    display: flex;
    flex-direction: row;
}

.navbarL img {
    height: 3.5rem;
    padding: 0.25rem;
}

.brandName {
    margin: auto 0;
    margin-left: 0.5rem;
    font-size: 2.25rem;
    font-family: 'Allura', cursive;
}

.navList {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    text-align: center;
    margin: 0.5rem 0;
}

.navList li {
    margin-left: 1.5rem;
}

.navList li a {
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

.navList button {
    margin: auto 01rem;
    padding: 0.25rem 1.5rem;
    border: 1px solid #b9b7bd;
    border-radius: 20px;
    background-color: #eeede7;
}

.navList button a {
    color: black;
    text-decoration: none;
}



/* Main content */

.introModel {
    padding-top: 6rem;
}

.secHead {
    margin: 0 4rem 0;
    width: 14.5%;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.secHead p {
    font-size: 1.2rem;
    font-weight: 900;
}

.secHead:hover {
    transition: ease-in-out .2s;
    background-color: #b9b7bd4d;
    border-radius: 0.5rem;
}

.secHead i {
    margin: 0 0 0 1.2rem;
}

.row1,
.row2 {
    display: flex;
    flex-direction: row;
    padding: 0 4rem;
}

.introModel img {
    height: 11rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.card:hover {
    transform: scale(1.05);
}

.card {
    /* border: 2px solid #868b8e54; */
    border-radius: 0.5rem;
    background-color: #b9b7bd24;
    margin: 0.5rem auto 1.5rem;
    padding: 0.75rem;
    transition: 0.2s ease-in-out;
}

.carddetail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.brandintro {
    width: 90%;
    margin: 2rem auto;
    border: #b9b7bd 2px solid;
    align-items: center;
    border-radius: 2rem;
    text-align: center;
}

.head {
    margin: 1rem auto 0.25rem;
    width: 60%;
}

.subhead {
    margin: 0 auto;
    font-family: 'Pacifico', cursive;
    font-size: 0.9rem;
    font-weight: 200;
    width: 60%;
    font-size: small;
    color: #8e8b8e;
    border-bottom: #b9b7bd 2px solid;
}

.brand_desc {
    text-align: justify;
    width: 90%;
    margin: 2rem auto;
}

.title {
    font-family: 'Allura', cursive;
    margin: 0 auto;
    text-align: center;
    font-size: 3rem;
}

.disp {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.sectionRow {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 4rem;

}

.secCardDetail {
    background-color: #b9b7bd4d;
    margin: 0.5rem auto 1rem;
    height: 13rem;
    padding: 0.7rem;
    border-radius: 1rem;
}

.secCardDetail button {
    width: 5rem;
    padding: 0.25rem 0.25rem;
}

.secCardDetail button p {
    margin: 0 auto;
}

.secCardDetail img {
    height: 8.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}



/* AR VIEW */

.viewAr a {
    text-decoration: none;
    color: #148bd5;
}

.viewAr {
    all: unset;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.6em 2em;
    border: #b9b7bd solid 0.15em;
    background-color: #ffffff;
    border-radius: 0.25em;
    font-size: 0.8em;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    transition: border 300ms, color 300ms;
    user-select: none;
}

.viewAr p {
    z-index: 1;
}

.viewAr:hover {
    color: rgb(0, 0, 0);

}

.viewAr:active {
    border-color: #e7d2cc;
}

.viewAr::after,
.viewAr::before {
    content: "";
    position: absolute;
    width: 9em;
    aspect-ratio: 1;
    background: #b9b7bd;
    opacity: 50%;
    border-radius: 50%;
    transition: transform 500ms, background 300ms;
}

.viewAr::before {
    left: 0;
    transform: translateX(-8em);
}

.viewAr::after {
    right: 0;
    transform: translateX(8em);
}

.viewAr:hover:before {
    transform: translateX(-1em);
}

.viewAr:hover:after {
    transform: translateX(1em);
}

.viewAr:active:before,
.viewAr:active:after {
    background: #ffffff;
}



/* Registration */

#login {
    margin: 0;
    margin-top: 0vw;
    margin-bottom: 5vw;
    padding: 0px;
    font-family: "poppins", sans-serif;
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 110vh;
    width: 100%;
    /* background: url('https://wallpapercave.com/wp/wp6982478.jpg')no-repeat;  */
    /* background: url("https://wallpapercave.com/wp/wp4194085.png") no-repeat; */
    background: url("../images/coverBG.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(219, 219, 219, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* transform: scale(0); */
    transition: transform 0.5s ease, height 0.2s ease;
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 80%;
    padding: 30px;
}

.wrapper .form-box.login {
    transition: transform 0.18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translatex(400px);
}

.wrapper.active .form-box.register {
    transition: transform 0.18s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    color: white;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    font-size: 1em;
    color: rgb(188, 184, 184);
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 90%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding-right: 35px;
}

.input-box .icon {
    position: absolute;
    right: 5px;
    font-size: 1.2em;
    color: rgb(188, 184, 184);
    line-height: 53px;
}

.remember-forget {
    font-size: 0.9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forget label input {
    accent-color: #162938;
    margin-right: 5px;
}

.remember-forget a {
    color: #162938;
    text-decoration: none;
}

.remember-forget a:hover {
    text-decoration: underline;
}

#login .button {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #ffff;
    font-weight: 500;
}

.login-register {
    font-size: 0.9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}





/* contacts */


#contact {
    padding: 8vw;
    padding-top: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#contact .getin {
    width: 320px;
    margin-right: 80px;
}

#contact .getin h2 {
    color: #2c234d;
    font-size: 30px;
    font-weight: 800;
    line-height: 0.8;
    margin-bottom: 8px;
}

#contact .getin p {
    color: #686875;
    line-height: 24px;
    margin-bottom: 33px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e5e4ed;
}

#contact .getin h3 {
    color: #2c234d;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 15px;
}

#contact .getin .getin-details div {
    display: flex;
}

#contact .getin .getin-details div ion-icon {
    font-size: 16px;
    line-height: 22px;
    color: #7e7c87;
    margin-right: 20px;
}

#contact .getin .getin-details div p {
    font-size: 14px;
    border-bottom: none;
    line-height: 22px;
    margin-bottom: 15px;
}

#contact .getin .getin-details .pro-links i {
    margin-right: 8px;
}

#contact .form {
    width: 60%;
    background-color: #b9b7bd59;
    padding: 40px;
    border-radius: 10px;
}

#contact .form ::placeholder {
    font-family: 'Taviraj', serif;
}

#contact .form h4 {
    font-size: 24px;
    color: #000000;
    line-height: 30px;
    margin-bottom: 8px;
}

#contact .form p {
    color: #686875;
    line-height: 24px;
    padding-bottom: 25px;
}

#contact .form .form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#contact .form .form-row input {
    width: 41%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background-color: #ffffff7b;
    color: #000000;
    outline: none;
    padding: 20px 20px;
    margin-bottom: 20px;
}

#contact .form .form-col input,
#contact .form .form-col textarea {
    width: 94%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background-color: #ffffff7b;
    color: #000000;
    outline: none;
    padding: 20px 20px;
    margin-bottom: 20px;
}

#contact .form button {
    font-size: 0.9rem;
    padding: 13px 25px;
    background-color: #f89191a0;
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: #252526;
}

#contact .form button:hover{
    background-color: #f89191;
    color: #000000;
    transition: 0.3s;
}

#map {
    width: 100%;
    height: 70vh;
    margin-bottom: 8vw;
}

#map iframe {
    width: 100%;
    height: 100%;
}

.contact{
    padding-top: 4rem;
}

.title p{
    padding-top: 2rem;
    font-family: 'Allura', cursive;
    /* font-family: 'Libre Baskerville', serif; */
    /* font-family: 'Rokkitt', serif; */
    /* font-family: 'Ysabeau Infant', sans-serif;*/
    /* font-family: 'Pacifico', cursive; */     
}