@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Taviraj", serif;
    /* font-family: 'Allura', cursive; */
    /* font-family: 'Libre Baskerville', serif; */
    /* font-family: 'Rokkitt', serif; */
    /* font-family: 'Ysabeau Infant', sans-serif;*/
    /* font-family: 'Pacifico', cursive; */
}

/* navigation */

.navdiv {
    width: 100%;
    height: 4rem;
    background-color: #eeede7;
    border: 1px solid #eeede7;
    box-shadow: 0px 0.5px 3px rgb(136, 136, 136);
    margin: 0rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: fixed;
    z-index: 20;
}

.navbarL a {
    text-decoration: none;
    color: black;
}

.navbarL a {
    display: flex;
    flex-direction: row;
}

.navbarL img {
    height: 3.5rem;
    padding: 0.25rem;
}

.brandName {
    margin: auto 0;
    margin-left: 0.5rem;
    font-size: 2.25rem;
    font-family: 'Allura', cursive;
}

.navList {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    text-align: center;
    margin: 0.5rem 0;
}

.navList li {
    margin-left: 1.5rem;
}

.navList li a {
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

.navList button {
    margin: auto 1rem;
    padding: 0.25rem 1.5rem;
    border: 1px solid #b9b7bd;
    border-radius: 20px;
    background-color: #eeede7;
}

.navList button a {
    color: black;
    text-decoration: none;
}

.navList button a:hover {
    color: #29ae84cb;
}

div .navList li.active a {
    padding: 0.15rem 0rem;
    color: #069f6e;
    border-bottom: 3px solid #069f6e;
}

button.active a {
    color: #069f6e !important;
}

div .navList li a {
    transition: color 100ms ease-in-out, border-bottom 100ms;
}

div .navList li a:hover {
    width: 100%;
    color: #29ae84cb;
    border-bottom: 3px solid #29ae84cb;
}

@media(max-width:880px) {
    .navList button {
        margin: auto 0.5rem;
        padding: 0.25rem 1rem;
    }

    .navList li {
        margin-left: 1rem;
    }

    .navbarL h1 {
        font-size: 2rem;
    }
}

@media(max-width:784px) {
    .navbarL h1 {
        font-size: 1.7rem;
    }

    .navList li a {
        font-size: 0.9rem;
    }

    .navList button {
        font-size: 0.9rem;
    }

    .navList li {
        margin-left: 1rem;
    }
}

@media(max-width:768px) {
    .navbarL h1 {
        font-size: 1.7rem;
    }

    .navList li a {
        font-size: 0.9rem;
    }

    .navList button {
        font-size: 0.9rem;
    }

    .navList li {
        margin-left: 1rem;
    }
}


/* Main content */

.introModel {
    padding-top: 5rem;
}

.cover {
    background: linear-gradient(to right, #000000d5, rgba(255, 255, 255, 0)), url("../images/indexCover.jpg") no-repeat;
    height: 100vh;
    background-size: cover;
    margin-top: -2rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    background-position: center;
    color: white;
    padding-left: 4rem;
}

.coverHead {
    font-size: 6rem;
    margin: 0;
}

.title p {
    padding-top: 2rem;
    font-family: 'Allura', cursive;
    /* font-family: 'Libre Baskerville', serif; */
    /* font-family: 'Rokkitt', serif; */
    /* font-family: 'Ysabeau Infant', sans-serif;*/
    /* font-family: 'Pacifico', cursive; */
}

.tagline {
    color: #ffffff84;
}

.secHead {
    margin: 1rem 3rem 0;
    width: 50%;
    padding: 0 !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;

}

.secHead p {
    padding-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: 900;
}

@media(max-width:768px) {
    .cover {
        padding-left: 2rem;
    }

    .coverHead {
        font-size: 5rem;
    }
}

.row1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 2rem;
}

.introModel img {
    height: 11rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.card:hover {
    transform: scale(1.05);
}

.card {
    border-radius: 10px !important;
    background-color: #b9b7bd37;
    margin: 0.5rem auto 0.5rem;
    padding: 0.5rem;
    transition: 0.2s ease-in-out;
    width: 21em;
}

.carddetail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 0.5rem;
}

.card-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 0.5rem;
}


.brandintro {
    width: 90%;
    margin: 2rem auto;
    border: #b9b7bd 2px solid;
    align-items: center;
    border-radius: 10px;
    text-align: center;
}


.head {
    margin: 1rem auto 0.25rem;
    width: 60%;
}

.btn-close {
    z-index: 0 !important;
}

.subhead {
    margin: 0 auto;
    font-family: 'Pacifico', cursive;
    font-size: 0.9rem;
    font-weight: 200;
    width: 60%;
    font-size: small;
    color: #8e8b8e;
    border-bottom: #b9b7bd 2px solid;
}

.brand_desc {
    text-align: justify;
    width: 95%;
    margin: 1rem auto;
}

.title {
    font-family: 'Allura', cursive;
    margin: 0 auto;
    text-align: center;
    font-size: 3rem;
    /* padding-top: 1rem; */
}

.base {
    background-color: #e6e6e63d;
    margin: 1rem 3rem;
}

.disp {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.sectionRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0.5rem 2rem;

}

.secCardDetail {
    background-color: rgb(255, 255, 255);
    border: #6C757D 1px solid;
    margin: 0.5rem auto 1rem;
    width: 20rem;
    padding: 0.7rem;
    border-radius: 10px;
}

.secCardDetail button {
    width: 5rem;
    padding: 0.25rem 0.25rem;
}

.secCardDetail button p {
    margin: 0 auto;
}

.secCardDetail img {
    height: 11rem;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: #6c757d7b 0px 1px 4px;
}

.buy_fav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    word-wrap: wrap;
    margin-bottom: 0.5rem;
}

button.buy_now {
    background-color: #79A99A !important;
    color: #000000;
    border: #aea77e solid 0.5px;
    border-radius: 2rem;
    width: 9rem;
    height: 2rem;
    font-size: 0.9rem;
}

@media(max-width:768px) {
    .base {
        margin: 1rem 1rem;
    }

    .row1 {
        padding: 1rem;
    }

    .card {
        width: 20em
    }

    button.buy_now {
        width: 8rem;
    }

    .carddetail p {
        font-size: 0.95rem;
    }

    .sectionRow {
        padding: 0.5rem 1rem;
        ;
    }

    .secCardDetail img {
        height: auto;
    }
}

.cat_img {
    position: relative;
    margin: 1.5rem 0;
}

.slideshow {
    position: relative;
}

.slideshow::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 1rem;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8));
    z-index: 1;
}

.bottom-left {
    color: white;
    position: absolute;
    bottom: 0.2rem;
    left: 16px;
    font-size: 30vh;
    opacity: 0.8;
    z-index: 3;
}

img.cat-item {
    width: 100%;
    height: auto;
}

.footer-develop {
    text-align: center;
    font-size: 1rem;
    background-color: aqua;
}



/* AR VIEW */

.btn-outline-secondary a {
    color: #6C757D;
    text-decoration: none;
}

.btn-outline-secondary a:hover {
    color: white;
}

.objcolor {
    text-align: center;
    background-color: #e4e4e482;
}

.objcolor p {
    font-size: 1.2rem;
    font-weight: 600;
}

.optionCol {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}

.optColor {
    margin-top: 1rem;
    width: 15rem;
    height: 2.2rem;
    border: none;
    border-radius: 24px;
}

.optColor a {
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
}